{{> header}}
    {{> navbar1}}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <div class="container text-center mt-2">
                  <h2 class="display-3">Bienvenido</h2>
                  <p>{{ nombre }}</p>
                  <hr style="width:85%">
            </div>
    <div class="container" style="margin-left: 30%;">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_iorpbol0.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;" loop autoplay></lottie-player>
        <h2 style="display-4">En construcción...</h2>
    </div>
{{> footer}}