{{> header}}
    {{> navbar}}

    <div class="container mt-5">
      <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-dark active" style="height: 30px;" role="progressbar" aria-valuemin="0" aria-valuemax="100" ></div>
      </div>
      <div class="alert alert-danger d-none" role="alert" id="msg"></div>
      <form action="" novalidate id="register_form" class="bg-secondary shadow border-1">
          <!-- 1. Paso -->
          <fieldset>
            <div class="container text-center mt-2">
                <h2 class="display-3"><img src="https://i.pinimg.com/originals/df/bf/13/dfbf13bf919b1e039f46303a4594a157.png" width="35" height="35" class="d-inline-block align-middle" alt="">
                Registrate
                </h2>
                <p>Rellene los campos con tu informacion</p>
                <hr style="width:85%">
            </div>

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                      <input type="text" placeholder="Cédula" pattern="[0-9]{10}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required class="form-control" id = "idcard" name = "idcard">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                      </div>
                      <input type="text" placeholder="Nombre de Usuario" required class="form-control" id = "username" name = "username">
                    </div> 
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" placeholder="Nombre" pattern="[0-9]{10}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required class="form-control" id = "name" name = "name">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" placeholder="Apellido" pattern="[0-9]{10}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required class="form-control" id = "lastname" name = "lastname">
                    </div> 
              </div>
            </div>

            

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                      </div>
                      <input type="tel" placeholder="Teléfono Convencional" pattern="[0-9]{10}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required class="form-control" id = "telephone" name = "telephone">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                      </div>
                      <input type="text" placeholder="Celular" pattern="[0-9]{10}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required class="form-control" id = "phone" name = "phone">
                    </div> 
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i> </span>
                      </div>
                      <input type="date" name="birthday" id="birthday" required class="form-control" placeholder="Fecha de Nacimiento">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-street-view"></i></span>
                      </div>
                      <input type="text" placeholder="Direccion" required class="form-control" id = "direction" name = "direction">
                    </div> 
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map"></i></span>
                      </div>
                      <input type="text" placeholder="Pais" required class="form-control" id = "country" name = "country">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                      </div>
                      <input type="text" placeholder="Provincia" required class="form-control" id = "province" name = "province">
                    </div> 
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                      </div>
                      <input type="text" placeholder="Ciudad" required class="form-control" id = "city" name = "city">
                    </div> 
              </div>

              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-heart"></i></span>
                      </div>
                      <select name="civilstatus" id="civilstatus" class="form-control">  
                        <option value="#" disabled selected>-- Estado Civil --</option>
                        <option value="Soltero/a">Soltero/a</option>
                        <option value="Casado/a">Casado/a</option>
                        <option value="Divorciado/a">Divorciado/a</option>
                        <option value="Viudo/a">Viudo/a</option>
                      </select>
                    </div> 
              </div>
            </div>


            <div class="row justify-content-center">
              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                      </div>
                      <select name="gender" id="gender" class="form-control">
                        <option value="#" disabled selected>-- Género --</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                      </select>
                    </div> 
              </div>
              <div class="form-group mb-3 col-5 ">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                    <input type="email" placeholder="Email" required class="form-control" id = "email" name = "email"><br>
                    </div> 
              </div>
            </div>

            <div class="row justify-content-center">                
              <div class="form-group mb-3 col-5">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                      </div>
                      <input type="password" placeholder="Contraseña" required class="form-control" id = "password" name = "password">
                    </div> 
              </div>
            </div>
            
            <!--<input type="button" class="next-form btn btn-info mt-4 mb-5" style="margin-left: 8%;" value="Siguiente" />-->
            <button type="button" class="next-form btn btn-info mt-4 mb-5" style="margin-left: 8%;">
              <span class="btn-inner--icon"><i class="fa fa-chevron-circle-right"></i></span>
              <span class="btn-inner--text">Siguiente</span>
            </button>
            
          </fieldset>
          <!-- 2. Paso -->
          <fieldset>
            <div class="container text-center mt-2">
                  <h2 class="display-3"> Colores</h2>
                  <p>Elige que tipo de colores deseas colorear tu tangram</p>
                  <hr style="width:85%">
            </div>
            <div class="alert alert-primary d-none" style="width: 83%; margin-left: 8%;" role="alert"></div>
            <div class="card-deck mt-3" style="margin-left: 8%;">
                  {{{ getPaletas}}}
            </div>
            

             <!--<input type="button" name="previous" class="previous-form btn btn-default mt-5 mb-5" style="margin-left: 9%;" value="Atrás" />
                  <input type="button" name="next" class="next-form btn btn-info mt-5 mb-5" disabled id="cs"  value="Siguiente" />-->
            <button type="button" name="previous" class="previous-form btn btn-default mt-5 mb-5" style="margin-left: 9%;" >
              <span class="btn-inner--icon"><i class="fa fa-chevron-circle-left"></i></span>
              <span class="btn-inner--text">Atrás</span>
            </button>
            
            <button type="button" name="next" class="next-form btn btn-info mt-5 mb-5" disabled id="cs">
              <span class="btn-inner--icon"><i class="fa fa-chevron-circle-right"></i></span>
              <span class="btn-inner--text">Siguiente</span>
            </button>
          </fieldset>
          <!-- 3. Paso -->
          <fieldset>
            <div class="text-center mt-2">
              <h2 class="display-3">Colorea tu Tangram</h2>
              <p>Procede a escoger los colores de tu paleta y colorea el tangram a tu gusto.</p>
              <hr style="width:85%">
            </div>
              
            <div class="row">
              <div id="tablero" class="col-6">
                      
              </div>
              <div class="col" style="margin-left: -20px;">
                <h4 class="mb-0"><strong>Reglas</strong></h4><br>
                <p class="mb-0">1. Utilizar todos los colores de la paleta</p><br>
                <p id ="rule" class="mb-0"></p><br>
              </div>
              <div class="col text-center">
                <div class="card mb-3 shadow border-0 ml-4" style="max-width: 10rem;">
                          <div class="card-header bg-default" style="color: white;">Colores</div>
                          <div class="card-body" id="cc">
                              
                          </div>
                </div>
                <hr style="width: 80%;">
                <small>Si deseas un nuevo diseño presiona <strong>Nuevo.</strong></small><br>
                <button type="button" class="btn btn-warning" id="btnNuevo">
                          <span class="btn-inner--icon"><i class="fa fa-random"></i></span>
                          <span class="btn-inner--text">Nuevo</span>
                </button>       
              </div>

            </div>
            
            <!--<input type="button" name="previous" class="previous-form btn btn-default" value="Atrás" />
                <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" />-->
            <button type="button" class="previous-form btn btn-default mt-5 mb-5" style="margin-left: 9%;">
              <span class="btn-inner--icon"><i class="fa fa-chevron-circle-left"></i></span>
              <span class="btn-inner--text">Atrás</span>
            </button>
            <button type="button" class="submit btn btn-success" id="btnEnviar">
              <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
              <span class="btn-inner--text">Enviar</span>
            </button>
            
          </fieldset>
      </form>
    </div>

    <style type="text/css">
      #register_form fieldset:not(:first-of-type) {
        display: none;
      }
    </style>


  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Recordatorio Tangram</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
  </div>

    <script src="assets/js/script.js"></script>
    

    <!-- Repetir Contraseña<div class="form-group mb-3"><div class="input-group input-group-alternative">  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock"></i></span></div><input type="text" placeholder="Repetir Contraseña" class="form-control" id = "Rpassword" name = "Rpassword"></div></div>-->
{{> footer}}