{{> header}}
    {{> navbar}}
    <div class="container text-center mt-5">
        <h2 class="display-3"> Colores</h2>
        <p>Elige que tipo de colores deseas colorear tu tangram</p>
        <hr>
    </div>
    <div class="card-deck mt-5" style="margin-left: 20%; margin-right: 20%;" id="cardcolors">
        {{{ getPaletas}}}
    </div>
    <script src="assets/js/script-colors.js"></script>
{{> footer}}