<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tangram Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="tablero" class="col-9">
                
            </div>
            <div id="paleta" class="col">
                <div class="card mb-3" style="max-width: 10rem;">
                    <div class="card-header">Colores</div>
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <div class="paletaColor" style="background-color: {{colora}}"></div>
                        <div class="paletaColor" style="background-color: {{colorb}}"></div>
                        <div class="paletaColor" style="background-color: {{colorc}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success" id="btnNuevo">Nuevo</button>
            <button type="button" class="btn btn-primary" id="btnEnviar">Enviar</button>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/script-paint.js"></script>
</body>
</html>