{{> header}}
    {{> navbar}}
    <div class="container mt-4">
        <div class="text-center mt-5 mb-2">
            <h2 class="display-4">Colorea tu Tangram</h2>
            <p>Procede a escoger los colores de tu paleta y colorea el tangram a tu gusto.</p>
            <hr>
        </div>
        <div class="row">
            <div id="tablero" class="col-9">
                
            </div>
    
            <div id="paleta" class="col text-center">
                <div class="card mb-3 shadow border-0 ml-4" style="max-width: 10rem;">
                    <div class="card-header bg-default" style="color: white;">Colores</div>
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <div class="paletaColor" style="background-color: {{colora}}"></div>
                        <div class="paletaColor" style="background-color: {{colorb}}"></div>
                        <div class="paletaColor" style="background-color: {{colorc}}"></div>
                    </div>
                </div>
                <small>Si deseas un nuevo diseño presiona <strong>Nuevo.</strong></small><br>
                <button type="button" class="btn btn-success" id="btnNuevo">
                    <span class="btn-inner--icon"><i class="fa fa-random"></i></span>
                    <span class="btn-inner--text">Nuevo</span>
                </button>
                <hr>
                <small>Presiona <strong>Enviar</strong> si ya acabaste.</small>
                <button type="button" class="btn btn-primary" id="btnEnviar">
                    <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
                    <span class="btn-inner--text">Enviar</span>
                </button>
            </div>
        </div>
    </div>
    <script src="assets/js/script-tangramr.js"></script>
{{> footer}}
