#tablero,
#tablerol {
    text-align: center;
    padding: 5px;
}

#tablero svg {
    margin: 15px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#tablero p {
    font-size: 6pt;
}

.fig:hover {
    /*transform: scale(2);*/
    cursor: pointer;
}

.paletaColor,
.paletaColores {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 30px;
}

.paletaColor:hover,
.paletaColores:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.democolor {
    border-radius: 16px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#cardcolor:hover {
    transform: scale(1.1);
    cursor: pointer;
    /*background-color: slategrey;*/
}

.nav-link {
    font-size: 0.95rem !important;
}

.ti {
    float: left;
    padding: 20px;
    margin-left: 50px;
}

.ti:hover {
    transform: scale(1.1);
    background-color: rgb(245, 243, 243);
}

#muestra {
    width: 60%;
}